In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/MRohit1953/Computer-Engineering/master/BDAL/data.csv')

In [ ]:
df.dtypes

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [ ]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [ ]:
df.groupby(by=['Age']).size()

Age
24    1
25    1
28    1
29    2
32    1
34    3
35    2
36    2
38    2
40    2
41    1
42    2
43    3
44    4
45    7
46    3
47    1
48    4
49    5
50    1
51    4
52    1
53    1
54    3
55    1
57    1
58    1
59    2
60    2
61    1
62    2
64    2
65    3
66    5
67    1
68    3
69    5
71    3
72    3
73    2
74    1
75    4
76    4
77    2
78    1
81    1
82    2
83    1
85    2
86    3
89    1
dtype: int64

In [ ]:
df.isnull()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False

In [ ]:
type("Age")

str

In [ ]:
type("BMI")

str

In [ ]:
df.Age.astype(float)

0      48.0
1      83.0
2      82.0
3      68.0
4      86.0
       ...
111    45.0
112    62.0
113    65.0
114    72.0
115    86.0
Name: Age, Length: 116, dtype: float64

In [ ]:
df.Age=df.Age.astype(float)

In [ ]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [ ]:
df.dtypes

Age               float64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [ ]:
df.sort_values('Age')

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
...,...,...,...,...,...,...,...,...,...,...
87,85.0,27.688778,196,51.814,25.050342,70.8824,7.901685,55.21530,1078.359,2
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1

In [ ]:
df.sort_values('Age',ascending=False)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2
78,86.0,26.666667,201,41.611,20.630734,47.6470,5.357135,24.37010,1698.440,2
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
49,85.0,26.600000,96,4.462,1.056602,7.8500,7.931700,9.61350,232.006,1
...,...,...,...,...,...,...,...,...,...,...
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1

In [ ]:
df.rename(columns={'Age':'Year Old'})

,Year Old,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
df.sort_index()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
df.reset_index()

,index,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...,...
111,111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
df.drop(columns=['Age'])

,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...
111,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
pd.melt(df)

            variable value
0                Age  48.0
1                Age  83.0
2                Age  82.0
3                Age  68.0
4                Age  86.0
...              ...   ...
1155  Classification     2
1156  Classification     2
1157  Classification     2
1158  Classification     2
1159  Classification     2

[1160 rows x 2 columns]

In [ ]:
df.drop_duplicates()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [ ]:
df.head(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [ ]:
df.tail(5)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
111,45.0,26.85,92,3.33,0.755688,54.68,12.10,10.96,268.23,2
112,62.0,26.84,100,4.53,1.117400,12.45,21.42,7.32,330.16,2
113,65.0,32.05,97,5.73,1.370998,61.48,22.54,10.33,314.05,2
114,72.0,25.59,82,2.82,0.570392,24.96,33.75,3.27,392.46,2
115,86.0,27.18,138,19.91,6.777364,90.28,14.11,4.35,90.09,2

In [ ]:
df.count()

Age               116
BMI               116
Glucose           116
Insulin           116
HOMA              116
Leptin            116
Adiponectin       116
Resistin          116
MCP.1             116
Classification    116
dtype: int64

In [ ]:
df.median()

<ipython-input-44-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Age             56.000000
BMI             27.662416
Glucose         92.000000
Insulin          5.924500
HOMA             1.380939
Leptin          20.271000
Adiponectin      8.352692
Resistin        10.827740
MCP.1          471.322500
dtype: float64

In [ ]:
df.quantile()

Age             56.000000
BMI             27.662416
Glucose         92.000000
Insulin          5.924500
HOMA             1.380939
Leptin          20.271000
Adiponectin      8.352692
Resistin        10.827740
MCP.1          471.322500
Name: 0.5, dtype: float64

In [ ]:
df.min()

Age                   24.0
BMI                  18.37
Glucose                 60
Insulin              2.432
HOMA              0.467409
Leptin               4.311
Adiponectin        1.65602
Resistin              3.21
MCP.1               45.843
Classification           1
dtype: object

In [ ]:
df.max()

Age                    89.0
BMI               38.578759
Glucose                 201
Insulin               58.46
HOMA              25.050342
Leptin                90.28
Adiponectin           38.04
Resistin               82.1
MCP.1               1698.44
Classification           na
dtype: object

In [ ]:
df.mean()

<ipython-input-48-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Age             57.301724
BMI             27.582111
Glucose         97.793103
Insulin         10.012086
HOMA             2.694988
Leptin          26.615080
Adiponectin     10.180874
Resistin        14.725966
MCP.1          534.647000
dtype: float64

In [ ]:
df.std()

<ipython-input-49-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Age             16.112766
BMI              5.020136
Glucose         22.525162
Insulin         10.067768
HOMA             3.642043
Leptin          19.183294
Adiponectin      6.843341
Resistin        12.390646
MCP.1          345.912663
dtype: float64

In [ ]:
pd.get_dummies(df['Age'])

,24.0,25.0,28.0,29.0,32.0,34.0,35.0,36.0,38.0,40.0,...,75.0,76.0,77.0,78.0,81.0,82.0,83.0,85.0,86.0,89.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
pd.get_dummies(df['Glucose'])

,60,70,74,75,76,77,78,79,80,82,...,119,128,131,134,138,139,152,196,199,201
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
df.iloc[2:50]

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
2,82.0,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
5,49.0,22.854458,92,3.226,0.732087,6.8317,13.679750,10.31760,530.410,1
6,89.0,22.700000,77,4.690,0.890787,6.9640,5.589865,12.93610,1256.083,1
7,76.0,23.800000,118,6.470,1.883201,4.3110,13.251320,5.10420,280.694,1
8,73.0,22.000000,97,3.350,0.801543,4.4700,10.358725,6.28445,136.855,1
9,75.0,23.000000,83,4.952,1.013839,17.1270,11.578990,7.09130,318.302,1
10,34.0,21.470000,78,3.469,0.667436,14.5700,13.110000,6.92000,354.600,1
11,29.0,23.010000,82,5.663,1.145436,35.5900,26.720000,4.58000,174.800,1
12,25.0,22.860000,82,4.090,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24.0,18.670000,88,6.107,1.330000,8.8800,36.060000,6.85000,632.220,1
14,38.0,23.340000,75,5.782,1.069670,15.2600,17.950000,9.35000,165.020,1
15,44.0,20.760000,86,7.553,1.600000,14.0900,20.320000,7.64000,63.610,1
16,47.0,22.030000,84,2.869,0.590000,26.6500,38.040000,3.32000,191.720,na
17,61.0,32.038959,85,18.077,3.790144,30.7729,7.780255,13.68392,444.395,na
18,64.0,34.529723,95,4.427,1.037394,21.2117,5.462620,6.70188,252.449,1
19,32.0,36.512637,87,14.026,3.009980,49.3727,5.100000,17.10223,588.460,1
20,36.0,28.576676,86,4.345,0.921719,15.1248,8.600000,9.15390,534.224,1
21,34.0,31.975015,87,4.530,0.972138,28.7502,7.642760,5.62592,572.783,1
22,29.0,32.270788,84,5.810,1.203832,45.6196,6.209635,24.60330,904.981,1
23,35.0,30.276817,84,4.376,0.906707,39.2134,9.048185,16.43706,733.797,1
24,54.0,30.483158,90,5.537,1.229214,12.3310,9.731380,10.19299,1227.910,1
25,45.0,37.035608,83,6.760,1.383997,39.9802,4.617125,8.70448,586.173,1
26,50.0,38.578759,106,6.703,1.752611,46.6401,4.667645,11.78388,887.160,1
27,66.0,31.446541,90,9.245,2.052390,45.9624,10.355260,23.38190,1102.110,1
28,35.0,35.250761,90,6.817,1.513374,50.6094,6.966895,22.03703,667.928,1
29,36.0,34.174890,80,6.590,1.300427,10.2809,5.065915,15.72187,581.313,1
30,66.0,36.212279,101,15.533,3.869788,74.7069,7.539550,22.32024,864.968,1
31,53.0,36.790166,101,10.175,2.534932,27.1841,20.030000,10.26309,695.754,1
32,28.0,35.855815,87,8.576,1.840410,68.5102,4.794200,21.44366,358.624,1
33,43.0,34.422174,89,23.194,5.091856,31.2128,8.300955,6.71026,960.246,1
34,51.0,27.688778,77,3.855,0.732193,20.0920,3.192090,10.37518,473.859,1
35,67.0,29.606767,79,5.819,1.133929,21.9033,2.194280,4.20750,585.307,1
36,66.0,31.238590,82,4.181,0.845677,16.2247,4.267105,3.29175,634.602,1
37,69.0,35.092702,101,5.646,1.406607,83.4821,6.796985,82.10000,263.499,1
38,60.0,26.349292,103,5.138,1.305395,24.2998,2.194280,20.25350,378.996,1
39,77.0,35.587929,76,3.881,0.727558,21.7863,8.125550,17.26150,618.272,1
40,76.0,29.218408,83,5.376,1.100646,28.5620,7.369960,8.04375,698.789,1
41,76.0,27.200000,94,14.070,3.262364,35.8910,9.346630,8.41560,377.227,1
42,75.0,27.300000,85,5.197,1.089638,10.3900,9.000805,7.57670,335.393,1
43,69.0,32.500000,93,5.430,1.245642,15.1450,11.787960,11.78796,270.142,1
44,71.0,30.300000,102,8.340,2.098344,56.5020,8.130000,4.29890,200.976,1
45,66.0,27.700000,90,6.042,1.341324,24.8460,7.652055,6.70520,225.880,1
46,75.0,25.700000,94,8.079,1.873251,65.9260,3.741220,4.49685,206.802,1
47,78.0,25.300000,60,3.508,0.519184,6.6330,10.567295,4.66380,209.749,1
48,69.0,29.400000,89,10.704,2.349885,45.2720,8.286300,4.53000,215.769,1
49,85.0,26.600000,96,4.462,1.056602,7.8500,7.931700,9.61350,232.006,1

In [ ]:
print(pd.get_dummies(df['Glucose']))

     60   70   74   75   76   77   78   79   80   82   ...  119  128  131  \
0      0    1    0    0    0    0    0    0    0    0  ...    0    0    0
1      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
2      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3      0    0    0    0    0    1    0    0    0    0  ...    0    0    0
4      0    0    0    0    0    0    0    0    0    0  ...    0    0    0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
111    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
112    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
113    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
114    0    0    0    0    0    0    0    0    0    1  ...    0    0    0
115    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

     134  138  139  152  196  199  201
0      0    0    0    0    0    0    0
1      0    0    0    0    0    0    0
2      0    0    0    0    0    0    0
3      0    0    0    0    0    0    0
4      0    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...
111    0    0    0    0    0    0    0
112    0    0    0    0    0    0    0
113    0    0    0    0    0    0    0
114    0    0    0    0    0    0    0
115    0    1    0    0    0    0    0

[116 rows x 50 columns]